.subscribe-button{
    background-color: rgb(198, 5, 5);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: 1s;
}

.subscribe-button:hover{
    opacity: 0.3;
}

.subscribe-button:active{
    background-color: blue;
}

.join-button{
    background-color: white;
    border-color: rgb(41, 118, 211);
    color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    height: 36px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
}

.tweet-button{
    background-color: rgb(29 161 242);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 8px;
    
}

.tweet-button:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}

.request-now{
    background-color: black;
    color: white;
    height: 36px;
    width: 105px;
    margin-bottom: 8px;
    cursor: pointer;
}

.linkedin{
    background-color: rgb(10 102 194);
    color: white;
    border: none;
    height: 36px;
    width: 200px;   
    border-radius: 60px; 
    font-weight: bold;
    cursor: pointer;
    margin-right: 8px;
}

.save{
    background-color: white;
    color: rgb(10 102 194);
    border-width: 1px;
    border-color:rgb(10 102 194);
    height: 36px;
    width: 65px;
    border-radius: 65px;
    cursor: pointer;
    border-style: solid;
    font-weight: bold;
}