.video-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    width:300px;
    line-height: 24px;
}

.video-stats{
    margin-top: -15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#606060;
    margin-bottom: 20px;
}

.author{
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.content{
    font-family: Arial, Helvetica, sans-serif;
    color: #606060;
    font-size: 14px;
    margin-top: 0px;
    width:280px;
    line-height: 22px;
}

.banner{
    background-color: rgb(227, 65, 64);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
    text-align: center;
}

.select{
    cursor: pointer;
}

.select:hover{
    text-decoration:underline;
}